@import '../styles/normalize.less';

@baseClass: cant-overlay;

.@{baseClass} {
  position: fixed;
  z-index: @overlay-z-index;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @overlay-background-color;

  &-fade-enter {
    opacity: @overlay-fade-opacity;
  }

  &-fade-enter-active {
    opacity: @overlay-fade-active-opacity;
    transition: @overlay-fade-transition;
  }

  &-fade-exit {
    opacity: @overlay-fade-active-opacity;
  }

  &-fade-exit-active {
    opacity: @overlay-fade-opacity;
    transition: @overlay-fade-transition;
  }
}
